@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Seaweed+Script');

$primary-color: #831E31;
$border-color: rgba(194, 144, 152, .2);
$secondary-color: #171717;
$basketball-color: #f7b23a;
$white: #fff;
$iphone-x-height: 736px;

body {
  font-family: 'Roboto Condensed', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $white;
}

h1 {
  font-size: 60px !important;
  margin: 45px auto !important;
}

h2 {
  font-size: 25px;
}

.container {
  margin-top: 0 !important;
  background-color: $primary-color;
  background: linear-gradient(to bottom right, $primary-color, $secondary-color);
  min-height: $iphone-x-height;
}

canvas, table {
  background-color: $white;
}

a {
  text-decoration: underline;
  color: $white;
}

.app-title-img {
  width: 45px;
  margin: 20px;
}

.app-title {
  font-family: 'Seaweed Script', cursive;
  font-size: 35px;
  margin-bottom: -10px;
}

p {
  font-size: 15px;
  color: $white;
}

.util-margin-top-30 {
  margin-top: 30px;
}

.util-margin-top-40 {
  margin-top: 40px;
}

.util-margin-10 {
  margin: 10px auto;
}

.util-margin-30 {
  margin: 30px auto;
}

.util-margin-50 {
  margin: 50px auto;
}

.util-pill-box-top-right {
  border-top-right-radius: 5px;
}

.util-pill-box-bottom-right {
  border-bottom-right-radius: 5px;
}

.util-pill-box-top-left {
  border-top-left-radius: 5px;
}

.util-pill-box-bottom-left {
  border-bottom-left-radius: 5px;
}

.border-bottom-none {
  border-bottom: none;
}

.custom-input {
  background: transparent;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  color: $white;
  padding: 15px;
  font-size: 20px;
  border-bottom: 1px solid $white;
  width: 100%;
}

.ftp-btn {
  width: 100%;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
  height: 60px;
  border: none;
}

.light-btn {
  background-color: $white;
}

.data-btn {
  color: $primary-color;
}

.cancel-btn {
  color: $secondary-color;
}

.colored-btn {
  position: relative;
  display: inline-block;
  color: $white;
  font-weight: 100;
}

.timeframe-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  font-size: 16px;
  padding: 6px;
}

.timeframe-selected {
  background-color: $basketball-color;
  color: $secondary-color;
}

.success-btn {
	background-image: linear-gradient(#3BCD07, #135204);
}

.submit-btn {
	background-image: linear-gradient(#4392f1, #132842);
}

.section-title {
  color: $white;
  border-top: 2px solid $border-color;
  padding-top: 15px;
  font-size: 22px;
  font-weight: bold;
}

.form-control {
  border: 1px solid $white;
  background-color: transparent;
  color: $white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

label {
  font-weight: 500;
}
